[Desktop Entry]
Type=Application
Version=9.1.3-BETA
GenericName=Screen recorder
Name=GECT-beta
Comment=Grave o seu smartphone pelo PC.
TryExec=gect_BETA
Exec=gect_BETA
Icon=GECT.inco
Terminal=false
Categories=Utils;
StartupNotify=false
X-GNOME-Autostart-Delay=60
